@import "tailwindcss";

@import '@fontsource/inter';
@import '@fontsource/montserrat';

/* Apply Fonts and Background */
body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-color: #111111; /* Black background */
  color: #fff; /* Optional: White text for contrast */
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}
